body,
html {
  width: 100%;
  font-family: 'Roboto-Regular';
  background-color: #131731;
  color: #fff;
  overflow-x: hidden;
}
body span,
html span {
  font-family: 'Roboto-Regular';
}
html {
  width: 100vw;
  overflow-x: hidden;
}
.consultationModal,
.educationModal {
  max-width: 100%;
}
@media (min-width: 767px) {
  .consultationModal,
  .educationModal {
    width: 900px;
  }
}
.modal-footer {
  justify-content: center;
}
button:active,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}
img {
  max-width: 100%;
  height: auto;
}
#topNubex {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}
#consultationModal h1,
#consultationModal h4 {
  color: #000;
  text-transform: lowercase;
}
#consultationModal ul {
  color: #000;
  font-size: 14px;
  text-align: left;
  line-height: 14px;
}
#consultationModal ul li {
  margin-bottom: 10px;
}
.page {
  overflow: hidden;
  position: relative;
  background: url(../images/body-bg.jpg);
  z-index: 0;
}
#particles-js {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}
#educationModal {
  text-align: left;
}
#educationModal h1,
#educationModal h4,
#educationModal h3,
#educationModal p {
  color: #000;
}
#educationModal ul {
  color: #000;
  font-size: 14px;
  text-align: left;
  line-height: 14px;
}
#educationModal ul li {
  margin-bottom: 10px;
}
#educationModal h3 {
  text-transform: capitalize;
}
header {
  padding: 10px 0 180px;
}
.fixed {
  position: fixed !important;
  width: 100%;
  background: #fff;
  z-index: 9999;
  top: 0;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);
  -webkit-transform: translateY(0);
  -webkit-transition: all 0.4s ease-in-out;
}
.fixed .nav-item a {
  color: #000;
  opacity: 1 !important;
}
.fixed .nav-item a:hover {
  text-decoration: underline;
  text-decoration-color: #000;
}
section {
  padding: 70px 0px 50px;
}
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}
h4 {
  font-style: italic;
}
.btn {
  margin: 20px 10px 0px;
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  -webkit-box-shadow: 5px 5px 13px -2px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 5px 5px 13px -2px rgba(0, 0, 0, 0.66);
  box-shadow: 5px 5px 13px -2px rgba(0, 0, 0, 0.66);
}
.btn:hover {
  color: #fff;
  opacity: 0.9;
  -webkit-box-shadow: 1px 1px 13px -2px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 1px 1px 13px -2px rgba(0, 0, 0, 0.66);
  box-shadow: 1px 1px 13px -2px rgba(0, 0, 0, 0.66);
}
.btn-pink {
  background-color: #f42267;
}
.btn-violet {
  background-color: #69328e;
}
@media only screen and (max-width: 356px) {
  .btn {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
  }
}
.main-header {
  background: url(../img/fon-glav.jpg) center center no-repeat;
  background-size: cover;
  min-height: 320px;
  position: relative;
}
.main-header .navbar-toggler {
  color: #fff;
}
.main-header ul li a {
  opacity: 0.7;
  color: #fff;
  font-size: 17px;
}
.main-header ul li a::after {
  content: '';
  display: block;
  width: 100%;
  background-color: #fff;
  height: 1px;
  transform: scale(0);
  transition: all 0.3s;
}
.main-header ul li a:hover::after {
  transform: scale(1);
}
.main-header-text {
  display: block;
  margin: 70px auto 0px;
  padding: 0 10px;
  text-align: center;
  width: 800px;
  max-width: 100%;
}
.main-header-text h1 {
  font-size: 32px;
}
.main-header-text h4 {
  font-size: 23px;
  color: gold;
}
.main-header-text h5 {
  font-size: 25px;
}
.main-header-text span {
  font-size: 25px;
  color: goldenrod;
  text-transform: uppercase;
}
@media only screen and (max-width: 660px) {
  header {
    padding: 10px 0 50px;
  }
}
@media only screen and (max-width: 550px) {
  .main-header-text h1 {
    font-size: 25px;
  }
  .main-header-text h4 {
    font-size: 20px;
  }
  .main-header-text h5 {
    font-size: 18px;
  }
  .main-header-text span {
    font-size: 20px;
  }
  .main-header-text .btn {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 400px) {
  .main-header-text h1 {
    font-size: 20px;
  }
  .main-header-text h4 {
    font-size: 16px;
  }
  .main-header-text h5 {
    font-size: 16px;
  }
  .main-header-text span {
    font-size: 16px;
  }
  .main-header-text .btn {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 991px) {
  .navbar-nav {
    margin-top: 10px;
    background-color: rgba(19, 23, 49, 0.87);
    padding: 10px 20px;
  }
}
section#advantages h3 {
  margin-bottom: 20px;
  text-align: left;
  font-family: 'Caveat-Regular', 'Roboto-Regular';
  letter-spacing: 3px;
}
section#advantages .div-cart {
  display: block;
  width: 640px;
  max-width: 100%;
  margin: 0px auto;
}
section#advantages .div-cart .row {
  margin: 0;
  padding: 0;
}
section#advantages .div-cart .cart {
  text-align: center;
  display: block;
  width: 280px;
  max-width: 100%;
  margin: 30px auto;
}
section#advantages .div-cart .cart img.titul {
  margin-bottom: 15px;
}
section#advantages img.emailik {
  text-align: center;
  margin-bottom: 25px;
}
@media only screen and (max-width: 768px) {
  section#advantages img.emailik {
    margin: 30px auto;
  }
}
@media only screen and (max-width: 768px) {
  section#advantages .str1,
  section#advantages .str2 {
    margin: 30px auto;
  }
}
section#consultation {
  background-color: #33364A;
}
section#consultation h4 {
  text-align: left;
  font-family: 'AnonymousPro-Regular';
}
section#consultation .div-consul {
  display: block;
  width: 670px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
section#consultation .div-consul .opis-consult {
  display: block;
  width: 350px;
  max-width: 100%;
  margin: 0 auto;
}
section#consultation .div-consul .opis-consult h5 {
  font-size: 25px;
  font-family: 'AnonymousPro-Regular';
  color: goldenrod;
}
section#consultation .div-consul .opis-consult p {
  font-family: 'AnonymousPro-Regular';
  font-size: 16px;
}
section#consultation .div-consul .opis-consult .knopp {
  margin-top: 20px;
}
section#consultation .div-consul .opis-consult .knopp button {
  background-color: #131730;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 15px 30px;
  margin-bottom: 10px;
  margin-left: 0px;
  width: 100%;
  border: none;
}
section#consultation .div-consul .opis-consult .knopp button:hover {
  background-color: #191e41;
}
@media only screen and (max-width: 768px) {
  section#consultation img {
    margin-bottom: 30px;
  }
}
section#arguments h3 {
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Caveat-Regular', 'Roboto-Regular';
  letter-spacing: 3px;
}
section#arguments .nav-pills .nav-item .nav-link {
  padding: 14px 30px;
  color: #fff;
  font-size: 16px;
  font-family: 'Caveat-Regular';
  text-transform: uppercase;
}
section#arguments .nav-pills .nav-item .nav-link:hover {
  color: #fff;
}
section#arguments .nav-pills .nav-item .nav-link.active {
  background-color: #2f0c48;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.35);
}
section#arguments .tab-content p {
  font-size: 16px;
  margin-top: 30px;
}
section#arguments .tab-content img {
  display: block;
  width: 400px;
  float: left;
  margin: 0px 20px 10px 0px;
}
@media only screen and (max-width: 991px) {
  section#arguments .nav-pills .nav-item .nav-link {
    padding: 8px 16px;
  }
}
@media only screen and (max-width: 767px) {
  section#arguments .tab-content img {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 768px) {
  section#arguments .nav-pills .nav-item {
    width: 100%;
  }
}
section#training {
  padding: 0;
  background: url(../img/obuzh.jpeg) center center no-repeat;
  background-size: cover;
}
section#training .zakraska {
  padding: 70px 0px 50px;
  background-color: rgba(19, 23, 49, 0.59);
}
section#training .zakraska button {
  background-color: rgba(255, 215, 0, 0.85);
  color: black;
}
footer {
  opacity: 0.6;
  position: relative;
  padding: 50px 0 10px;
  background-color: #090312;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  color: #fff;
  text-decoration: none;
}
footer a.pol {
  border-bottom: 1px dashed;
}
footer .menushka {
  text-align: left;
}
footer .menushka h5 {
  margin-bottom: 20px;
}
footer .menushka p {
  line-height: 12px;
}
footer img.footer-logo {
  margin-bottom: 10px;
  width: 70px;
}
footer .cont {
  position: absolute;
  right: 0px;
  display: block;
  text-align: center;
}
footer .cont button {
  padding: 2px;
}
footer .cont button.buttons-footers {
  margin-bottom: -15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #69328e;
  border-color: #69328e;
  padding: 10px 20px;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  -webkit-box-shadow: 5px 5px 44px -5px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 5px 5px 44px -5px rgba(0, 0, 0, 0.54);
  box-shadow: 5px 5px 44px -5px rgba(0, 0, 0, 0.54);
}
footer .cont button.buttons-footers:hover {
  background-color: #7e42a7;
}
footer .cont button.roz {
  background-color: #f42267;
  border-color: #f42267;
}
footer .cont button.roz:hover {
  background-color: #fa427f;
  border-color: #fa427f;
}
footer .cooper {
  padding: 20px;
  font-size: 12px;
}
@media only screen and (max-width: 768px) {
  footer .cont {
    position: relative;
    margin: 50px 0px;
  }
}
.my_btn {
  background: #69328E;
  border-color: #69328E;
}
.my_btn:hover {
  background: #69328E;
  border-color: #69328E;
}
/*# sourceMappingURL=main.css.map */